<div class="container-fluid">
  <h1 class="text-center my-4">Vsa Gradiva</h1>

  <!-- Film Section -->
  <div class="mb-5">

    <div>
      <app-film></app-film>
    </div>
  </div>

  <!-- Book Section -->
  <div>

    <div>
      <app-knjiga></app-knjiga>
    </div>
  </div>

  <!-- Buttons for Adding New Items -->
  <!-- <div class="mt-4 text-center">
    <button 
      class="btn btn-primary me-2" 
      (click)="addFilm()"
    >
      Add New Film
    </button>
    <button 
      class="btn btn-secondary" 
      (click)="addBook()"
    >
      Add New Book
    </button>
  </div> -->
</div>
