<div class="container pb-5">  <!-- Added pb-5 for bottom padding -->
  <h2>{{ vsebina?.title }}</h2>
  @if(vsebina){
    <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img [src]="vsebina.srcImg" class="img-fluid rounded-start" [alt]="vsebina.title">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ vsebina.title }}</h5>
                    <p class="card-text">{{ vsebina.description }}</p>
                </div>
            </div>
        </div>
    </div>
}

  <h2>Leave a Review</h2>
  <app-review-form [vsebinaId]="vsebinaId" [type]="type"></app-review-form>

  <h2>Reviews</h2>
  <app-review-list class="mb-5" [vsebinaId]="vsebinaId" [type]="type"></app-review-list> 
</div>
